<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="login_style.css" >
	<title>Login | LaundroFresh</title>
	<link rel="shortcut icon"  type="x-icon" href="https://cdn-icons-png.flaticon.com/512/3322/3322056.png">
</head>
<body>
	<div class="header">
		<h1>LaundroFresh</h1>
	</div>
	<div class="login">
		<formbg>
		<form action="/login" method="post">
		<h2>User Login</h2>
		<p>Please enter your Regno and Password to login:</p>
			<input type="regno" name="regno" placeholder="Enter Regno" required >
			<input type="password" name="password" placeholder="Enter Password" required ><br><br>	
			<button type="submit">Login</button><h4>
			<a href="register.html" class="button" style="font-size: 13px;font-family:Arial, Helvetica, sans-serif ;">Register</a>
	</div>
	<div class="footer">
		<p>&copy; 2023 LaundroFresh</p>
	</div>
</body>
</html>
