<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="register_style.css" >
	<title>Sign Up | LaundroFresh</title>
	<link rel="shortcut icon"  type="x-icon" href="https://cdn-icons-png.flaticon.com/512/3322/3322056.png">
</head>
<body>
	<div class="header">
		<h1>LaundroFresh</h1>
	</div>
	<div class="register">
		<formbg>
		<form action="/signup" method="post">
		<h2>User Registration</h2>
			<input type="regno" name="regno" placeholder="Enter Register No" required>
			<input type="name" name="name" placeholder="Enter Name" required>
			<input type="mobileno" name="mobileno" placeholder="Enter Mobile No." required>
			<input type="roomno" name="roomno" placeholder="Enter Room No." required>
			<input type="block" name="block" placeholder="Enter Block." required>
			
			<input type="password" name="password" placeholder="Enter Password" required>
            <input type="cpassword" name="cpassword" placeholder="Confirm Password" required><br><br>	
			<button type="submit">Register</button><h4>
			<a href="login.html" class="button" style="font-size: 14px;font-family: Arial, Helvetica, sans-serif;">Back to Login Page</a>
		</form></formbg>
	</div>
	<div class="footer">
		<p>&copy; 2023 LaundroFresh</p>
	</div>
</body>
</html>
